PL/Service References/DGaleanaHerdezService/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ML" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaConsulta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Iva" type="xs:double" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioDolares" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioEnvio" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioEuros" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioFinal" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioProducto" type="xs:double" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="tns:Sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="Sucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistanciaEstimada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sucursal" nillable="true" type="tns:Sucursal" />
</xs:schema>