PL/Service References/DGaleanaHerdezService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58244/Service1.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/ML" />
  <xs:import schemaLocation="http://localhost:58244/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DGaleanaHerdezService" />
  <xs:element name="CambiarDivisas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ML" minOccurs="0" name="producto" nillable="true" type="q1:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarDivisasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DGaleanaHerdezService" minOccurs="0" name="CambiarDivisasResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>